.darkfilter {
  position: absolute;
  width: 100vw;
  height: 100vh;
  height: 100dvh;
  padding: 30px 0;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,.7);
  z-index: 100;
}

@mixin config-colors($bg-color, $color, $secondary-color) {
background-color: $bg-color !important;
  color: $color !important;
  border: 2px $secondary-color solid !important;

  & .secondary {
    color: $secondary-color !important;
  }

  .close-btn {
    border: none;
    
    .close-icon {
      width: 32px;
      height: 32px;
      color: $color;

      &:hover {
        opacity: .6;
      }
    }
  }

  @media screen and (max-width: 400px) {
    .close-btn .close-icon {
      width: 24px;
      height: 24px;
    }
  }
}

.pop-up {
  width: 90vw;
  max-width: 600px;
  margin: auto;
  padding: 1rem 1rem 2rem;
  border-radius: 10px;
  // font-family: Garamond, serif;

  &.variant-default {
    @include config-colors(white, black, gray);
  }
  &.variant-error {
    @include config-colors(rgb(83, 16, 16), rgb(218, 113, 113), rgb(171, 31, 31))
  }
}

.close-btn-container {
  text-align: end;
}