.add-delete-btn {
  background-color: white;
  border: none;

  .icon {
    display: block;
    color: black;
    width: 30px;
    height: 30px;
    margin-left: 10px;
  }

  &:hover {
    .icon {
      color: gray;
    }
  }
}

.params-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;

  .form-input {
    width: 60%;
    max-width: 250px;
  }
}