.main-background {
  width: 100vw;
  height: 100vh;
  background-color: transparent;
}

.main-background::before {
  content: '';
  background: url("../assets/stock.png") center/cover no-repeat;
  filter: brightness(.5);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -100;
}