.description-container {
  font-family: Garamond, serif;
  max-height: 70vh;
  overflow-y: scroll;
  border-top: 2px black solid;
  border-bottom: 2px black solid;

  &::-webkit-scrollbar {
    display: none;
  }
}

$subheader-container-padding: 20px 20px;
$container-border-radius: 10px;

.header-container {
  border-radius: $container-border-radius;
  
  .title {
    padding: 20px 20px 0;
    font-weight: 700;
    color: #5D3FD3;
  }

  .header-context {
    padding: 10px 20px;
    font-weight: 600;
    color: #702963;
  }
}

.sub-header-container {
  border-radius: $container-border-radius;
  overflow-y: hidden;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  .sub-header-title {
    padding: $subheader-container-padding;
    font-weight: 600;
  }

  .header-context {
    padding: $subheader-container-padding;
  }

  &.variant-plain {
    background-color: #F9F6EE;
  }

  &.variant-gray {
    background-color: #E5E4E2;

    .sub-header-title {
      background-color: #D3D3D3;
    }
  }
}

.bullet-list {
  display: flex;
  flex-direction: row;

  .list-name {
    display: inline-block;
    text-wrap: nowrap;
    margin: 0;

    .bullet-icon {
      width: 20px;
      height: 20px;
      color: #D2042D;
    }
  }

  .separator-icon {
    font-size: 24px;
  }

  .bullet-list-description {

  }
}

.formula-text {
  font-family: "Noto Sans Math", "Cambria Math", "Times New Roman", serif;
}

@media screen and (max-width: 600px) {
  .bullet-list {
    flex-direction: column;

    .list-name {
      margin-bottom: 1rem;
    }

    .separator-icon {
      display: none;
    }

    .bullet-list-description {
      padding-left: 1.3rem;
    }
  }
}