.description-container {
  font-family: Garamond, serif;
  max-height: 70vh;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  .header-container {
    .title {
      font-weight: 600;
    }
  }
}